/* Fade In Animation */
.fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  /* Slide In Left Animation */
  .slide-in-left {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  /* Slide In Right Animation */
  .slide-in-right {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  